# Backend
backend/.env
backend/settings.json
backend/venv/
__pycache__/
*.pyc
.Python
*.egg-info/
.eggs/

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
*.tsbuildinfo

# IDE / OS
.idea/
.vscode/
.DS_Store
*.log
.env.root
backend/celerybeat-schedule
backend/create_admin_script.py
