--
-- PostgreSQL database dump
--

\restrict WiCDZB5Qp2bRitTQnrYkKeqD0gGXHE6Q6aP6HuwrSHFdZ1Yb1UDXsH5fJfwdRR5

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alert_history; Type: TABLE; Schema: public; Owner: metaads
--

CREATE TABLE public.alert_history (
    id character varying(36) NOT NULL,
    rule_id character varying(36) NOT NULL,
    campaign_id character varying(64),
    campaign_name character varying(255),
    metric character varying(64) NOT NULL,
    threshold double precision NOT NULL,
    actual_value double precision NOT NULL,
    message text NOT NULL,
    channels_sent json NOT NULL,
    sent_at timestamp with time zone NOT NULL
);


ALTER TABLE public.alert_history OWNER TO metaads;

--
-- Name: alert_rules; Type: TABLE; Schema: public; Owner: metaads
--

CREATE TABLE public.alert_rules (
    id character varying(36) NOT NULL,
    name character varying(255) NOT NULL,
    metric character varying(64) NOT NULL,
    condition character varying(32) NOT NULL,
    threshold double precision NOT NULL,
    ad_account_id character varying(64),
    channels json NOT NULL,
    email_to character varying(255),
    whatsapp_to character varying(64),
    is_active boolean NOT NULL,
    cooldown_minutes integer NOT NULL,
    last_triggered timestamp with time zone,
    trigger_count integer NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.alert_rules OWNER TO metaads;

--
-- Name: job_status; Type: TABLE; Schema: public; Owner: metaads
--

CREATE TABLE public.job_status (
    id character varying(36) NOT NULL,
    report_id character varying(36) NOT NULL,
    job_type character varying(32) NOT NULL,
    status character varying(32) NOT NULL,
    progress integer NOT NULL,
    result_text text,
    file_path text,
    file_name character varying(255),
    pdf_path text,
    error_message text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone
);


ALTER TABLE public.job_status OWNER TO metaads;

--
-- Name: report_csv_files; Type: TABLE; Schema: public; Owner: metaads
--

CREATE TABLE public.report_csv_files (
    id integer NOT NULL,
    report_id character varying(36) NOT NULL,
    template_id character varying(128) NOT NULL,
    file_path text NOT NULL,
    file_name character varying(255) NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.report_csv_files OWNER TO metaads;

--
-- Name: report_csv_files_id_seq; Type: SEQUENCE; Schema: public; Owner: metaads
--

CREATE SEQUENCE public.report_csv_files_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.report_csv_files_id_seq OWNER TO metaads;

--
-- Name: report_csv_files_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: metaads
--

ALTER SEQUENCE public.report_csv_files_id_seq OWNED BY public.report_csv_files.id;


--
-- Name: saved_ad_summaries; Type: TABLE; Schema: public; Owner: metaads
--

CREATE TABLE public.saved_ad_summaries (
    id character varying(36) NOT NULL,
    name character varying(255) NOT NULL,
    summary_text text NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.saved_ad_summaries OWNER TO metaads;

--
-- Name: saved_reports; Type: TABLE; Schema: public; Owner: metaads
--

CREATE TABLE public.saved_reports (
    id character varying(36) NOT NULL,
    name character varying(255) NOT NULL,
    template_ids json,
    days integer NOT NULL,
    ad_account_id character varying(64),
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.saved_reports OWNER TO metaads;

--
-- Name: scheduled_report_logs; Type: TABLE; Schema: public; Owner: metaads
--

CREATE TABLE public.scheduled_report_logs (
    id character varying(36) NOT NULL,
    scheduled_report_id character varying(36) NOT NULL,
    status character varying(32) NOT NULL,
    started_at timestamp with time zone NOT NULL,
    completed_at timestamp with time zone,
    summary_data json,
    ai_analysis text,
    error_message text,
    channels_sent json NOT NULL
);


ALTER TABLE public.scheduled_report_logs OWNER TO metaads;

--
-- Name: scheduled_reports; Type: TABLE; Schema: public; Owner: metaads
--

CREATE TABLE public.scheduled_reports (
    id character varying(36) NOT NULL,
    name character varying(255) NOT NULL,
    report_type character varying(32) NOT NULL,
    days integer NOT NULL,
    ad_account_id character varying(64),
    frequency character varying(16) NOT NULL,
    day_of_week integer,
    day_of_month integer,
    hour integer NOT NULL,
    minute integer NOT NULL,
    timezone character varying NOT NULL,
    channels json NOT NULL,
    email_to character varying(255),
    whatsapp_to character varying(64),
    is_active boolean NOT NULL,
    last_run_at timestamp with time zone,
    next_run_at timestamp with time zone,
    run_count integer NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.scheduled_reports OWNER TO metaads;

--
-- Name: users; Type: TABLE; Schema: public; Owner: metaads
--

CREATE TABLE public.users (
    id character varying(36) NOT NULL,
    email character varying(255) NOT NULL,
    username character varying(128) NOT NULL,
    hashed_password character varying(255) NOT NULL,
    role character varying(32) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.users OWNER TO metaads;

--
-- Name: report_csv_files id; Type: DEFAULT; Schema: public; Owner: metaads
--

ALTER TABLE ONLY public.report_csv_files ALTER COLUMN id SET DEFAULT nextval('public.report_csv_files_id_seq'::regclass);


--
-- Data for Name: alert_history; Type: TABLE DATA; Schema: public; Owner: metaads
--

COPY public.alert_history (id, rule_id, campaign_id, campaign_name, metric, threshold, actual_value, message, channels_sent, sent_at) FROM stdin;
\.


--
-- Data for Name: alert_rules; Type: TABLE DATA; Schema: public; Owner: metaads
--

COPY public.alert_rules (id, name, metric, condition, threshold, ad_account_id, channels, email_to, whatsapp_to, is_active, cooldown_minutes, last_triggered, trigger_count, created_at) FROM stdin;
\.


--
-- Data for Name: job_status; Type: TABLE DATA; Schema: public; Owner: metaads
--



--
-- Data for Name: report_csv_files; Type: TABLE DATA; Schema: public; Owner: metaads
--



--
-- Data for Name: saved_ad_summaries; Type: TABLE DATA; Schema: public; Owner: metaads
--

COPY public.saved_ad_summaries (id, name, summary_text, created_at) FROM stdin;
\.


--
-- Data for Name: saved_reports; Type: TABLE DATA; Schema: public; Owner: metaads
--

COPY public.saved_reports (id, name, template_ids, days, ad_account_id, created_at) FROM stdin;
0521f0f4	ilk reklam - t├╝m ┼ƒablonlar	["template_15", "template_14", "template_13", "template_10", "template_11", "template_12", "template_9", "template_8", "template_7", "template_6", "template_5", "template_4", "template_1", "template_2", "template_3"]	180	act_1333471171389618	2026-02-16 09:34:12.936992+00
\.


--
-- Data for Name: scheduled_report_logs; Type: TABLE DATA; Schema: public; Owner: metaads
--

COPY public.scheduled_report_logs (id, scheduled_report_id, status, started_at, completed_at, summary_data, ai_analysis, error_message, channels_sent) FROM stdin;
\.


--
-- Data for Name: scheduled_reports; Type: TABLE DATA; Schema: public; Owner: metaads
--

COPY public.scheduled_reports (id, name, report_type, days, ad_account_id, frequency, day_of_week, day_of_month, hour, minute, timezone, channels, email_to, whatsapp_to, is_active, last_run_at, next_run_at, run_count, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: metaads
--

COPY public.users (id, email, username, hashed_password, role, is_active, created_at) FROM stdin;
\.


--
-- Name: report_csv_files_id_seq; Type: SEQUENCE SET; Schema: public; Owner: metaads
--

SELECT pg_catalog.setval('public.report_csv_files_id_seq', 14, true);


--
-- Name: alert_history alert_history_pkey; Type: CONSTRAINT; Schema: public; Owner: metaads
--

ALTER TABLE ONLY public.alert_history
    ADD CONSTRAINT alert_history_pkey PRIMARY KEY (id);


--
-- Name: alert_rules alert_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: metaads
--

ALTER TABLE ONLY public.alert_rules
    ADD CONSTRAINT alert_rules_pkey PRIMARY KEY (id);


--
-- Name: job_status job_status_pkey; Type: CONSTRAINT; Schema: public; Owner: metaads
--

ALTER TABLE ONLY public.job_status
    ADD CONSTRAINT job_status_pkey PRIMARY KEY (id);


--
-- Name: report_csv_files report_csv_files_pkey; Type: CONSTRAINT; Schema: public; Owner: metaads
--

ALTER TABLE ONLY public.report_csv_files
    ADD CONSTRAINT report_csv_files_pkey PRIMARY KEY (id);


--
-- Name: saved_ad_summaries saved_ad_summaries_pkey; Type: CONSTRAINT; Schema: public; Owner: metaads
--

ALTER TABLE ONLY public.saved_ad_summaries
    ADD CONSTRAINT saved_ad_summaries_pkey PRIMARY KEY (id);


--
-- Name: saved_reports saved_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: metaads
--

ALTER TABLE ONLY public.saved_reports
    ADD CONSTRAINT saved_reports_pkey PRIMARY KEY (id);


--
-- Name: scheduled_report_logs scheduled_report_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: metaads
--

ALTER TABLE ONLY public.scheduled_report_logs
    ADD CONSTRAINT scheduled_report_logs_pkey PRIMARY KEY (id);


--
-- Name: scheduled_reports scheduled_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: metaads
--

ALTER TABLE ONLY public.scheduled_reports
    ADD CONSTRAINT scheduled_reports_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: metaads
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: metaads
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: alert_history alert_history_rule_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: metaads
--

ALTER TABLE ONLY public.alert_history
    ADD CONSTRAINT alert_history_rule_id_fkey FOREIGN KEY (rule_id) REFERENCES public.alert_rules(id) ON DELETE CASCADE;


--
-- Name: report_csv_files report_csv_files_report_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: metaads
--

ALTER TABLE ONLY public.report_csv_files
    ADD CONSTRAINT report_csv_files_report_id_fkey FOREIGN KEY (report_id) REFERENCES public.saved_reports(id) ON DELETE CASCADE;


--
-- Name: scheduled_report_logs scheduled_report_logs_scheduled_report_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: metaads
--

ALTER TABLE ONLY public.scheduled_report_logs
    ADD CONSTRAINT scheduled_report_logs_scheduled_report_id_fkey FOREIGN KEY (scheduled_report_id) REFERENCES public.scheduled_reports(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict WiCDZB5Qp2bRitTQnrYkKeqD0gGXHE6Q6aP6HuwrSHFdZ1Yb1UDXsH5fJfwdRR5

